
@media screen and (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
}

@media screen and (min-width: 769px) {
  /* Estilos para pantallas más grandes */

}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* o */

.wrapper {
  width: 20em;
  margin: 0 auto;
}

